<!-- path server launch -->

<launch >
    <!-- arguments -->
    <arg name="path_file" default="$(find path_follower)/data/test_path1.txt" />
    <arg name="input_path_topic_name" default="/recorded_path" />

    <!-- path saver -->
    <node name="path_server" pkg="path_follower" type="path_server" args="$(arg path_file)" output="screen" >
        <param name="/input_path_topic_name" value="$(arg input_path_topic_name)" type="string" />
    </node >
</launch >
