<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="octomap_enabled" default="false" />

    <node pkg="orb_slam2_ros" type="Mono" name="orb_slam2" args="$(find orb_slam2_lib)/Vocabulary/ORBvoc.bin $(find orb_slam2_ros)/settings/bebop_localization.yaml" cwd="node" output="log" >
       <param name="octomap_enabled" value="$(arg octomap_enabled)" /> <!-- needed for projected/gradient map-->
       <param name="octomap_resolution" value="0.02" />
       <param name="occupancy_projection_min_height" value="-0.1" />
       <param name="occupancy_gradient_max_height" value="0.2" />
       <param name="occupancy_gradient_nb_erosions" value="1" />
       <param name="occupancy_gradient_low_slope" value="0.3" />
       <param name="occupancy_gradient_high_slope" value="0.5" />
    </node>
</launch>
