<!-- localization launch using ORB SLAM2 or pose fuser -->
<launch >
    <arg name="use_pose_fuser" default="true" />
    <arg name="output_orb_log_screen" default="true" />

    <include file="tf.launch" >
        <arg name="use_pose_fuser" value="$(arg use_pose_fuser)" />
    </include >

    <include file="$(find orb_slam2_ros)/launch/bebop_localization.launch" />

    <!-- <include file="$(find pose_fuser)/launch/pose_fuser.launch" if="$(arg use_pose_fuser)" /> -->
    <include file="$(find pose_fuser)/launch/pose_fuser_test.launch" if="$(arg use_pose_fuser)" />
</launch >
