<!-- path recording launch -->
<launch >
    <arg name="mapping_mode" dafault="false" />
    <arg name="use_pose_fuser" default="true" />
    <arg name="map_frame" default="/map" />
    <arg name="base_link_frame" default="/base_link2" />
    <arg name="output_path_topic_name" default="/recorded_path" />
    <arg name="dist_interval" default="0.05" />
    <arg name="angle_interval" default="10.0" />

    <include file="localization.launch" unless="$(arg mapping_mode)" >
        <arg name="use_pose_fuser" value="$(arg use_pose_fuser)" />
    </include >

    <include file="$(find path_follower)/launch/path_recorder.launch" >
        <arg name="map_frame" default="$(arg map_frame)" />
        <arg name="base_link_frame" default="$(arg base_link_frame)" />
        <arg name="output_path_topic_name" default="$(arg output_path_topic_name)" />
        <arg name="dist_interval" default="$(arg dist_interval)" />
        <arg name="angle_interval" default="$(arg angle_interval)" />
    </include >
</launch >
