<!-- joy controller launch -->
<launch >
    <!--
        If publish_twist is true, you can control bebop 2 without velocity_selector.
        If you want to test the control with the joystick, please set it to true.
        To test the autonomous flight, it has to be set to false for the safety.
        You can stop bebop 2 from the joystick during the autonomous flight.
     -->

    <!-- args -->
    <arg name="joy_topic_name" default="/joy" />
    <arg name="joy_controller_topic_name" default="/cmd_vel_joy" />
    <arg name="publish_twist" default="false" />
    <arg name="cmd_publish_hz" default="10.0" />
    <arg name="joy_velocities_coef" default="0.1" />

    <!-- joystick node -->
    <node name="joy" pkg="joy" type="joy_node" respawn="true" >
        <remap from="/joy" to="$(arg joy_topic_name)" />
    </node >

    <!-- joystick controller node -->
    <node name="joy_controller" pkg="joy_controller" type="joy_controller" output="log" >
        <param name="/joy_topic_name" value="$(arg joy_topic_name)" type="string" />
        <param name="/joy_controller_topic_name" value="$(arg joy_controller_topic_name)" type="string" />
        <param name="/publish_twist" value="$(arg publish_twist)" type="bool" />
        <param name="/cmd_publish_hz" value="$(arg cmd_publish_hz)" type="double" />
        <param name="/joy_velocities_coef" value="$(arg joy_velocities_coef)" type="double" />
    </node >
</launch >
