<!-- pose fuser -->
<launch >
    <!-- argments -->
    <arg name="odom_topic_name" default="/bebop/odom" />
    <arg name="slam_topic_name" default="/orb_slam2/pose" />
    <arg name="cmd_vel_topic_name" default="/bebop/cmd_vel" />
    <arg name="fused_pose_topic_name" default="/fused_pose" />
    <arg name="map_frame" default="/map" />
    <arg name="camera_frame" default="/camera_world" />
    <arg name="fused_frame" default="/fused_frame" />
    <arg name="fused_pose_hz" default="30.0" />
    <arg name="slam_lost_time" default="0.2" />
    <arg name="scale_factor" default="0.1" />
    <arg name="initial_cov_xx" default="3.5" />
    <arg name="initial_cov_yy" default="3.5" />
    <arg name="initial_cov_zz" default="3.5" />
    <arg name="initial_cov_rollroll" default="3.5" />
    <arg name="initial_cov_pitchpitch" default="3.5" />
    <arg name="initial_cov_yawyaw" default="3.5" />
    <arg name="initial_cov" default="1e-6" />

    <!-- rosparam -->
    <rosparam >
        pose_fuser:
            noise_param: [
                0.8, 0.8, 0.8, 1.0, 1.0, 1.0,
                0.8, 0.8, 0.8, 1.0, 1.0, 1.0,
                0.8, 0.8, 0.8, 1.0, 1.0, 1.0,
                0.8, 0.8, 0.8, 1.0, 1.0, 1.0,
                0.8, 0.8, 0.8, 1.0, 1.0, 1.0,
                0.8, 0.8, 0.8, 1.0, 1.0, 1.0]
    </rosparam >

    <!-- pose fuser -->
    <node name="pose_fuser" pkg="pose_fuser" type="pose_fuser" output="screen">
        <param name="/odom_topic_name" value="$(arg odom_topic_name)" type="string" />
        <param name="/slam_topic_name" value="$(arg slam_topic_name)" type="string" />
        <param name="/cmd_vel_topic_name" value="$(arg cmd_vel_topic_name)" type="string" />
        <param name="/fused_pose_topic_name" value="$(arg fused_pose_topic_name)" type="string" /> 
        <param name="/map_frame" value="$(arg map_frame)" type="string" />
        <param name="/camera_frame" value="$(arg camera_frame)" type="string" />
        <param name="/fused_frame" value="$(arg fused_frame)" type="string" />
        <param name="/fused_pose_hz" value="$(arg fused_pose_hz)" type="double" />
        <param name="/slam_lost_time" value="$(arg slam_lost_time)" type="double" />
        <param name="/scale_factor" value="$(arg scale_factor)" type="double" />
        <param name="/initial_cov_xx" value="$(arg initial_cov_xx)" type="double" />
        <param name="/initial_cov_yy" value="$(arg initial_cov_yy)" type="double" />
        <param name="/initial_cov_zz" value="$(arg initial_cov_zz)" type="double" />
        <param name="/initial_cov_rollroll" value="$(arg initial_cov_rollroll)" type="double" />
        <param name="/initial_cov_pitchpitch" value="$(arg initial_cov_pitchpitch)" type="double" />
        <param name="/initial_cov_yawyaw" value="$(arg initial_cov_yawyaw)" type="double" />
        <param name="/initial_cov" value="$(arg initial_cov)" type="double" />
    </node >

</launch >